{% extends "template.html" %}

{% block titulo %}Home{% endblock %}

{% block conteudo %}
    <h1>Framework Django</h1>
{% endblock %}
{% comment%}
Codigo antigo de HTML
<!-- DTL = Django Template Language - Lembre de alterar o tipo do arquivo de html para djangohtml
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <title>Django</title>
</head>
<body>
    <img src="{% static 'images/jython.png' %}" width="42px">
    <h1>Framework Django</h1>
</body>
</html> -->
{% endcomment %}